table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    /* 테이블의 선을 합친다. */
}

td, th {
    width: 150px;
    padding: 10px;
}

.tr3 {
    text-align: center;
}

.a {
    color: red;
}

.b {
    text-align: center;
}

caption {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;

}

tr:nth-child(2n){
    background-color: lightblue;
}

