/* [5] 일치 선택자(Basic Combinator) : */
/* li태그 중에 class 속성값이 oran인 요소 선택 */
li.oran{
    color: orange;
}

/* [6] 자식 선택자(Child Combinator):선택자의 자식요소 */
/* ul태그의 자식요소 */

ul>*{
    background-color: aquamarine;
}

.oran+li{
    color: red;
}

